<h1>Genres</h1>

<% @chatrooms.each do |chatroom| %>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%=chatroom.image%>" alt="...">
      <div class="caption">
        <h3><%=chatroom.name%></h3>
        <p><%=chatroom.description%></p>
        <%= link_to "Chat Now!", chatroom_path(chatroom) %>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://pbs.twimg.com/profile_images/481683820836442113/bL_YXckY_400x400.png" alt="...">
      <div class="caption">
        <h3>Trap</h3>
        <p>Trap music is a music genre that originated in the early 1990s in the Southern United States. It is typified by its aggressive lyrical content and sound, where the instrumentals are propelled by 808 kick drums or heavy extended sub-bass lines, double-time, triple-time and other faster time division hi-hats,layered synthesizers, and "cinematic" strings.
    In 2012, a new movement of electronic music producers and DJs emerged who began incorporating elements of trap music into their works.</p>
        <p><a href="#" class="btn btn-primary" role="button">Chat Now!</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://shirta.com/media/catalog/product/cache/2/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/u/n/underground-hip-hop-flex-d75897043.png" alt="...">
      <div class="caption">
        <h3>Underground</h3>
        <p>Underground hip hop is an umbrella term for hip hop music outside the general commercial canon. It is typically associated with independent artists, signed to independent labels or no label at all. Underground hip hop is often characterized by socially conscious, positive, or anti-commercial lyrics. However, there is no unifying or universal theme – Allmusic suggests that it "has no sonic signifiers". "The Underground" also refers to the community of musicians, fans and others that support non-commercial, or independent music. Music scenes with strong ties to underground hip hop include alternative hip hop and horrorcore. Many artists who are considered "underground" today were not always so, and may have previously broken the Billboard charts.</p>
        <p><a href="#" class="btn btn-primary" role="button">Chat Now!</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.ytimg.com/vi/wbW38L57YmI/hqdefault.jpg" alt="...">
      <div class="caption">
        <h3>R&B</h3>
        <p>Rhythm and blues, often abbreviated as R&B or RnB, is a genre of popular African-American music that originated in the 1940s. The term was originally used by record companies to describe recordings marketed predominantly to urban African Americans, at a time when "urbane, rocking, jazzbased music with a heavy, insistent beat" was becoming more popular. In the commercial rhythm and blues music typical of the 1950s through the 1970s, the bands usually consisted of piano, one or two guitars, bass, drums, saxophone, and sometimes background vocalists. R&B lyrical themes often encapsulate the African-American experience of pain and the quest for freedom and joy. Lyrics focus heavily on the themes of triumphs and failures in terms of relationships, freedom, economics, aspirations, and sex.</p>
        <p><a href="#" class="btn btn-primary" role="button">Chat Now!</a></p>
      </div>
    </div>
  </div>
</div> -->