<h1>Genres</h1>

<h2><% @users.name %></h2>
<% @chatrooms.each do |chatroom| %>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%=chatroom.image%>" alt="...">
      <div class="caption">
        <h3><%=chatroom.name%></h3>
        <p><%=chatroom.description%></p>
        <%= link_to "Chat Now!", chatroom_path(chatroom) %>
      </div>
    </div>
  </div>
</div>
<% end %>
